body { 
    background: #a1def1; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  
  .rabbit {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100px;
    position: relative;
    top: 150px;
    -webkit-animation: moveUp 4s forwards;
    animation: moveUp 4s forwards;
  }
  
  @keyframes moveUp {
    100% { top: 0px; } 
  }
  
  .ears {
    display: flex;
    display: -webkit-flex;
  }
  .ear {
    height: 35px;
    width: 5px;
    background: pink;
    border: white solid 4px;
    border-radius: 50% 50% 0 0;
    margin-right: 2px;
  }
  
  .head {
    position: relative;
    top: -3px;
    background: white;
    border-radius: 38% 38% 50% 50%;
    height: 40px;
    width: 40px;
  }
  
  .body {
    position: relative;
    top: -7px;
    background: white;
    height: 50px;
    width: 45px;
    border-radius: 90% 90% 40% 40%;
  }
  
  .face {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .eyes {
    display: -webkit-flex;
    display: flex;
    position: relative;
    top: 12px;
    width: 25px;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  
  .eye {
    background: black;
    border-radius: 50%;
    height: 4px;
    width: 4px;
  }
  
  .nose {
    height: 3px;
    width: 4px;
    position: relative;
    top: 15px;
    background: pink;
    border-radius: 60% 60% 30% 30%;
  }
  
  .mouth {
    position: relative;
    top: 15px;
    font-size: 10px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .feet {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    top: -7px;
  }
  
  .foot-left {
    width: 30px;
    height: 6px;
    background: white;
    border-radius: 80% 0 0 10%;
  }
  .foot-right {
    width: 30px;
    height: 6px;
    background: white;
    border-radius: 0 80% 10% 0;
  }
  
  .paws {
    display: -webkit-flex;
    display: flex;
    position: relative;
    top: 15px;
    left: 7px;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 30px;
  }
  
  .paw {
    height: 15px;
    width: 6px;
    border: 2px solid #eee;
    border-top: none;
    border-radius: 0 0 40% 40%;
  }
  
  .hat-body {
    background: black;
    height: 60px;
    width: 60px;
    position: relative;
    top: -3px;
    border-radius: 0 0 5% 5%;
  }
  
  .hat-border {
    height: 10px;
    width: 60px;
    background: #1fdC1D;
    position: absolute;
    top: 10px;
    border-radius: 0 0 20% 20%;
  }
  
  .hat-top {
    background: black;
    height: 15px;
    width: 90px;
    position: relative;
    border-radius: 10% 10% 50% 50%;
  }
  
  .hat { 
    display: -webkit-flex;
    display: flex;
    background: #a1def1;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    z-index: 3;
    width: 100px;
    height: 200px;
  }
  
  .magic-trick {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .illusion {
    color: white;
    font-weight: normal;
    opacity: 0;
    -webkit-animation: 4s illusion forwards;
    animation: 4s illusion forwards;
  }
  
  .text{ position: relative; }
  .static-text {
    color: white;
    position: absolute;
    top: 0;
    left: 244px;
    font-weight: normal;
    opacity: 1;
    -webkit-animation: 4s removeIllusion forwards;
    animation: 4s removeIllusion forwards;
  }
  
  @keyframes rabbit {
    100% { top: 0;}
  }
  
  @keyframes illusion {
    100% { opacity: 1;}
  }
  
  @-webkit-keyframes illusion {
    100% { opacity: 1;}
  }
  
  @keyframes removeIllusion {
    100% { opacity: 0;}
  }
  
  @-webkit-keyframes removeIllusion {
    100% { opacity: 0;}
  }
  
