{% extends 'base.html' %}
{% block title %}Drawing{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/draw.css') }}" rel="stylesheet" >
{% endblock %}
{% block content %}
    <h1>Page: {{ page }}</h1>
    <div id="demo">Test JS</div>
    <div id="drawingContainer">
        <div id = "settings">
            <b>Size: <input type="range" min="1" max="20" value="5" id = "size"></b>
            <b>Color:<input id = "color" type = "color" value="#000000"></b>
            <input id = "clear" type = "button" value="Clear">
            <a id="download" download="img.png" href="" onclick="downloadImage(this);">Download</a>
         </div>

        <canvas id="myCanvas" style="border:1px solid #000000;"/>
    </div>

    {#javascript#}
    <script>
        var data = "{{ page }} page";

        // canvas
        let canvas = document.getElementById("myCanvas");
        let ctx = canvas.getContext("2d");
        let width = window.innerWidth/3;
        let height = window.innerHeight/2;

        // get size and color
        let size = document.getElementById("size");
        let color = document.getElementById("color");
        let clear = document.getElementById("clear");
        let download = document.getElementById("download");
        let sizeVal = size.value;
        let colorVal = color.value;

        // canvas frame size
        ctx.canvas.width  = width;
        ctx.canvas.height = height;

        // update size
        size.oninput = function() {
           sizeVal = this.value;
        }

        // update color
        color.oninput = function() {
           colorVal = this.value;
        }

        // clear canvas
        clear.onclick = function (){
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        // download canvas
        downloadImage = function (e){
            let img = canvas.toDataURL("image/png");
            e.href = img;
        }

        // ref: https://codepen.io/FreeGameBox/pen/aNLpZd
        // ref: https://stackoverflow.com/questions/17130395/real-mouse-position-in-canvas
        let isDragging;
        let rect = canvas.getBoundingClientRect();
        let scaleX = canvas.width / rect.width;
        let scaleY = canvas.height / rect.height;
        let drawPoint = function(e) {
           if(isDragging) {
              ctx.fillStyle = ctx.strokeStyle = colorVal;
              ctx.lineTo((e.clientX - rect.left) * scaleX, (e.clientY  - rect.top) * scaleY);
              ctx.lineWidth = sizeVal*2;
              ctx.stroke();
              ctx.beginPath();
              ctx.arc((e.clientX - rect.left) * scaleX, (e.clientY  - rect.top) * scaleY, sizeVal, 0, Math.PI*2);
              ctx.fill();
              ctx.beginPath();
              ctx.moveTo((e.clientX - rect.left) * scaleX, (e.clientY  - rect.top) * scaleY);
           }
        }

        // start dragging
        var engage = function() {
           isDragging = true;
        }

        // stop dragging
        var disengage = function() {
           isDragging = false;
           ctx.beginPath();
        }

        canvas.addEventListener("mousedown", engage);
        canvas.addEventListener("mousedown", drawPoint);
        canvas.addEventListener("mousemove", drawPoint);
        canvas.addEventListener("mouseup", disengage);

    </script>
{% endblock content %}