{% extends 'base.html' %}
{% block title %}Stretch{% endblock %}
{% block css %}
    <link href="{{ url_for('static', filename='css/stretch.css') }}" rel="stylesheet" >
{% endblock %}
{% block content %}
    <h1 id="name"></h1>

    <!-- This is just an example gif -->
    <!-- src = path taken to find gif, and made it to be 400x400 -->
    <!-- Please make all of them 400x400 -->
    <img src="/static/gifs/001.gif" id="stretchImage" alt="Stretch" style="width:400px;height:400px;">
    <input type="button" id="stretchButton" value="Next"/>
    <div id="description"></div>
    <a href="/games" class="next" style="background-color: #04AA6D;color: white;">Next &raquo;</a>


    {#javascript#}
    <script>
        // json info
        let names = {{ name|safe }};
        let details = {{ details|safe }};
        let button = document.getElementById("stretchButton");
        let image = document.getElementById("stretchImage")
        let title = document.getElementById("name")
        let description = document.getElementById("description")

        title.innerHTML = names[0];
        description.innerHTML = details[0];


        let i = 2;
        let j = 1;
        button.onclick = function(){
            // change image
            let imageName = i < 10?`/static/gifs/00${i}.gif`:`/static/gifs/0${i}.gif`;
            // change title
            title.innerHTML = names[j];
            description.innerHTML = details[j];
            image.src = imageName;
            console.log(i, j)

            if(j == 10){
                j = 0;
            }else{
                j++;
            }
            if(i == 11){
                i = 1;
            }else{
                i++;
            }

        }
    </script>
{% endblock content %}