{% extends 'base.html' %}
{% block title %}Stretch{% endblock %}
{% block css %}
    <link href="{{ url_for('static', filename='css/stretch.css') }}" rel="stylesheet" >
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
    <style>
        .logo-container {
            background-color: #dca195;
        }

        .logo {
            height: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }

        body {
            background: linear-gradient(45deg, rgba(241,209,199,1) 13%, rgb(231, 202, 193) 61%);
        }

        .next-stretch {
            background-color: #abd1af;
        }

        .next-stretch:hover {
            background-color: #90cc96;
            color: rgb(68, 68, 68);
        }

        .next {
            background-color: #f08181;
            color: white;
        }

        .next:hover {
            background-color: #d05d5d;
            color: white;
        }

        .image-footer {
            width: 80%;
            margin: 0 10%;
        }

        #stretchImage {
            border-color: #ca7969;
            border-width: 2px;
        }

        .screen {
            height: 110%;
        }

        .stretch-title {
            font-family: 'Schoolbell', cursive;
        }

        .stretch {
            font-family: 'Lato', sans-serif;
        }


        
    </style>
    <body class="screen">
        <div class="logo-container w-full left-0 top-0 absolute justify-center place-content-center py-2">
            <img class="logo justify-center" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" class="image-footer"> 
        </div>
        <br/>
        <br/>
        <br/>
        <br/>

        <div class="grid grid-cols-6 col-gap-20 justify-center 2 place-content-center m-auto w-2/3">
            <p class="col-span-6 font-bold stretch-title text-3xl text-center">Why should you stretch?</p>
            <p class="col-span-6 pt-1 stretch text-center">With many students are stuck at home in front of their computers, 
                stretching is more important now than ever. Sitting for long periods of time 
                can cause muscle pain in the neck, back, or shoulders; this not only impacts your 
                physical health but also your mental health as it distracts you from your work. Stretching has the benefit of loosening 
                your muscles, which is important because it makes you feel good, thereby increasing your productivity 
                and mood. Furthermore, stretching increases serotonin levels which enhances ones ability to deal with stress.</p>
            <div class="col-span-3 pt-4">
                <img src="/static/gifs/001.gif" id="stretchImage" class="justify-center rounded-md " alt="Stretch" style="width:400px;height:400px;">
            </div>
            <div class="col-span-3">
                <br/>
                <br/>
                <h1 id="name" class="stretch-title font-semibold text-3xl pb-2"></h1>
                <div id="description" class="stretch text-xl col-span-3"></div>
                <br/>
                <input type="button" class="transition-colors duration-300 stretch next-stretch p-2 rounded-md text-gray-900" id="stretchButton" value="Next Stretch"/>
            </div>
            <a href="/games" class="next stretch mt-6 mx-auto col-span-6 rounded-md items-center transition-colors duration-300">Next Page &raquo;</a>
        </div>
        <div class="h-100 pt-4">
            <img class="image-footer" src="{{ url_for('static', filename='images/grass.png') }}" alt="img" rel="image">
        </div>
    </body>

    {#javascript#}
    <script>
        // json info
        let names = {{ name|safe }};
        let details = {{ details|safe }};
        let button = document.getElementById("stretchButton");
        let image = document.getElementById("stretchImage")
        let title = document.getElementById("name")
        let description = document.getElementById("description")

        title.innerHTML = names[0];
        description.innerHTML = details[0];


        let i = 2;
        let j = 1;
        button.onclick = function(){
            // change image
            let imageName = i < 10?`/static/gifs/00${i}.gif`:`/static/gifs/0${i}.gif`;
            // change title
            title.innerHTML = names[j];
            description.innerHTML = details[j];
            image.src = imageName;

            if(j == 10){
                j = 0;
            }else{
                j++;
            }
            if(i == 11){
                i = 1;
            }else{
                i++;
            }

        }
    </script>
{% endblock content %}