{% extends 'base.html' %}
{% block title %}Stretch{% endblock %}
{% block css %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <style>
        .logo-container {
            background-color: #dca195;
        }

        .logo {
            height: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }
    </style>
    <div class="logo-container w-full left-0 top-0 absolute justify-center place-content-center py-2">
        <img class="logo justify-center" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" class="image-footer"> 
    </div>
    <br/>
    <br/>
    <br/>
    <h1>Page: {{ page }}</h1>
    <div id="demo">Test JS</div>

    <!-- This is just an example gif -->
    <!-- src = path taken to find gif, and made it to be 400x400 -->
    <!-- Please make all of them 400x400 -->
    <img src="/static/gifs/001.gif" alt="Stretch" style="width:400px;height:400px;">

    <input type="button" id="stretchButton" value="1"/>

    {#javascript#}
    <script>
        
        var data = "{{ page }} page";
        alert(data)
        let button = document.getElementById("stretchButton");


        let i = 1;
        button.onclick = function(){
            
            let image = `00${i}.gif`

            console.log(image)
            i += 1;

            if(i == 12){
                i = 1;
            }
        }
        document.getElementById("demo").innerHTML = "added from js";

    </script>
{% endblock content %}